.MuiAlert-icon{
    visibility: hidden;
}
.MuiAlert-root{
    background: var(--c-gradient) !important;
    border-radius: 0 !important;
}
.MuiAlert-action{
    margin-left: unset !important;
}
.MuiPaper-root{
    justify-content: space-between;
}
.MuiSvgIcon-root > path {
    color: white;
}
.MuiCollapse-container{
    transition: unset;
}