.topbar {
  background: var(--c-gradient);
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.25px;
  padding: 0 18px;
  height: 36px;
}

.iconRight:hover{
    background-color: var(--c-primary);
    border-radius: 999px;
    cursor: pointer;
}