/* Padding */
.p-0{padding: var(--p-0);}
.p-1{padding: var(--p-1);}
.p-2{padding: var(--p-2);}
.p-3{padding: var(--p-3);}
.p-4{padding: var(--p-4);}
.p-5{padding: var(--p-5);}
.p-6{padding: var(--p-6);}
.p-7{padding: var(--p-7);}
.p-8{padding: var(--p-8);}
.p-9{padding: var(--p-9);}

/* Margin */
.m-0{padding: var(--m-0);}
.m-1{padding: var(--m-1);}
.m-2{padding: var(--m-2);}
.m-3{padding: var(--m-3);}
.m-4{padding: var(--m-4);}
.m-5{padding: var(--m-5);}
.m-6{padding: var(--m-6);}
.m-7{padding: var(--m-7);}
.m-8{padding: var(--m-8);}
.m-9{padding: var(--m-9);}