.intro{
    height: 106px;
    display: flex;
}

.intro__container{
    width: 1292px;
    height: 106px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid var(--c-shade) ;
}

.intro__content{
    height: 106px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro__item{
    width: 48px;
    height: 48px;
    border-radius: 999px;
    border: 1px solid var(--c-grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro__item_text{
    margin-left: 12px;
}